extends layout

block content

            .main.container
            .row
              .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Discussion forum...
                p 
                  ul.list-group
                    each thread, i in threads
                        li.list-group-item
                            a(href="/threads_list/"+thread.id)= thread.title
              .col-md-6.col-md-offset-3
                img(src="../images/guitar-25701.svg", style="width:60%;height:60%;")