extends layout

block content
    h1
        .main.container
        h1.display-4.m-b-2 Bye for now!
        .row
          .col-md-6.col-md-offset-3
            p come back again
            
          .col-md-6.col-md-offset-3
            img(src="../images/guitar-25701.svg", style="width:60%;height:60%;")