extends layout

block content
    h1
        .main.container
        h1.display-4.m-b-2 Welcome!
        .row
          .col-md-6.col-md-offset-3
            p rockonnect is an online platform designed for passionate users to connect and to share the classic rock experience. Here you will be able to find people like you that wants to connect and learn about your experience with classic rock, your favourite artists and best gigs you ever been to, and why not, maybe get together for a jamming session. Would you like to contribute? Then please register to the community and share your experience and passion about classic rock music with others...
            |
          .col-md-6.col-md-offset-3