extends layout

block content

    h2 Discussions: 
    h4= "title: " + thread.title
    h4= "from: " + thread.user
    h4= "about :" 
    p= thread.content
    br
   
    .col-md-6.col-md-offset-3
        img(src= "/"+thread.image , style="width:50%; height:50%")
  
