extends layout

block content

    h1 
    .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Friends
        ul.list-group
            each friend, i in friends
                li.list-group-item
                    a(href="/update_friends/"+friends.view_u)= friend.view_u
      .col-md-6.col-md-offset-3
            