extends layout

block content
    .main.container
   
    .row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2
            h2 welcome to the page of: 
            h1 #{user.username}
            h3= "name: " + user.name, + user.surname

            h4= "about me:"
            p= user.about
            form(method='POST' action='/...')
            button.btn.btn-primary(type='submit') follow me!
        .row
        .col-md-6.col-md-offset-3
            img(src="../images/guitar-25701.svg", style="width:60%;height:60%;")