extends layout

block content

    h1 
    .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Users
        ul.list-group
            each user, i in users
                li.list-group-item
                    a(href="/users_list/"+user.id)= user.username
      .col-md-6.col-md-offset-3